$primary-color : #74daad; // green
$primary-color-dark : #4eb185;
$secondary-color : #FFE781; // yellow
$secondary-color-dark : #FFD836;
$black: #3e3632;
$grey-dark: #7a7e7e;
$grey: #e8e9e9;
$grey-light: #f7f7f7;
$white: #ffffff;


// placeholder color to grey-light
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $grey-light;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $grey-light;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $grey-light;
}
:-moz-placeholder { /* Firefox 18- */
    color: $grey-light;
}

/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}
/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}
/// Gives a card depth effect.
/// @param {Number} $depth - depth level (between 1 and 5)
/// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
/// @requires {function} top-shadow
/// @requires {function} bottom-shadow
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}


html {
    font-size: 16px;
    font-family: 'Lemonada', 'Jeju Gothic', cursive;
}

// this is for the holyGrail layout(flex)
// https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;

    .wrapper {
        display: flex;
        flex: 1;
        .sidebar {
            padding-top: 3rem;
            flex: 0 0 16rem;
        }
        #sidebar_btn {
            position: fixed;
            top: 1rem;
            left: 2rem;
        }
        section {
            flex-grow:1;
            display: flex;
            .search-bar {
                z-index: 1000;
                position: absolute;
                top: 1rem;
                right: 1rem;

                display: flex;
                flex-flow: column;
            }
            .wikiResult {
                z-index: 1000;
                position: absolute;
                bottom : 1rem;
                right: 1rem;

                display: flex;
                flex-flow: column;
            }

            .google-map {
                flex-grow: 1;
            }
        }
    }
}

// sidebar design
.sidebar {
    background-color: $primary-color;
    border-right: 2px solid $secondary-color;
    color: $grey-light;
    padding-left: 1rem;
    @include card(3);

    #sidebar_btn {
        background-color: $secondary-color-dark;
        padding: 0.4rem 1rem 0.4rem 1rem;
    	border-radius:8px;
        border: 0;
        color: $grey-light;
        opacity: 0;
        @include card(1);

    }
    #sidebar_btn:hover {
    	background-color: #8B0000;
    }
    #sidebar_btn:focus {
        outline: none;
    }
    #sidebar_btn:active {
        @include card(0);
    }
    ul {
        list-style: none;
        padding: 0;
        img {
            width:20px;
        }
    }

    .foundBox {
        display: flex;
        flex-flow: row wrap;
        .foundPlace {
            display: block;

            @include card(1);
            background-color: $secondary-color;
            color: $grey-dark;
            font-size: 0.8rem;
            padding: 0.8rem;
            margin: 0.4rem 0.4rem 0.4rem 0rem;
            border-radius: 0.5rem;
            cursor: pointer;

            max-width: 50%;
            max-height: 2rem;
            overflow-x: hidden;
        }
        .foundPlace:hover {
            background-color: $secondary-color-dark;
            color: black;
        }
    }
    form {
        ul > .pressed {
            background-color: $primary-color-dark !important;
            color: white !important;
        }
        ul {
            .item-holder {
                position: relative;
                @include card(1);
                padding: 1rem 1rem 1rem 1rem;
                margin: 1rem 1rem 1rem 0rem;
                border-radius: 0.5rem;
                cursor: pointer;
                background-color: $white;
                color: $grey-dark;

                li {
                    font-size: 1rem;
                }
                span {
                    padding-top: 0.8rem;
                    font-size: 0.8rem;
                }
                .origin:empty:before {
                    content: attr(data-placeholder);
                }
                .destination:empty:before {
                    content: attr(data-placeholder);
                }
                .to {
                    font-size: 0.6rem;
                    opacity: 0.8;
                }

                button {
                    width: 1.6rem;
                    height: 1.6rem;
                    right:1.2rem;
                    bottom: 0.7rem;
                    position: absolute;
                    background: url(../public/img/clear.png);
                    background-size: cover;
                    border: 0;
                }

                button:focus {
                    outline: none;
                }
                button:hover {
                    background: url(../public/img/clear_out.png);
                    background-size: cover;
                }
            }
            .item-holder:hover {
                background-color: $primary-color-dark;
                color: white;
            }

        }
    }
    .adding-route {
        background-color: $secondary-color;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 0.5rem;
        margin-right: 1rem;
        display: flex;
        input {
            border: none;
            background: transparent;
            color: $primary-color;
            margin-right: 1rem;
            border-bottom: 1px $primary-color solid;
        }
        input:focus, button:focus {
            outline: none;
        }
        button {
            // border: none;
            background-color: $primary-color-dark;
            color: $grey-dark;
            padding: 0.4rem;
            font-size: 0.8rem;

        	border-radius:8px;
        	border:1px solid #18ab29;

        	display:inline-block;
        	color:#ffffff;
        	font-size:0.9rem;
        	padding:8px 17px;

        	text-decoration:none;
        	// text-shadow:0px 1px 0px #57c246;
        }
        button:hover {
        	background-color:$primary-color-dark;
        }
        button:active {
        	position:relative;
        	top:1px;
        }
    }
}

@media (max-width: 1199px) {
    .sidebar {
        display: block;
        position: fixed;
        height: 100vh;
        width: 18rem;
        // box-shadow:
        left:-18rem;
        z-index: 1001;

        transition: all 0.3s ease;
        #sidebar_btn {
            opacity: 1;
            position: absolute;
            z-index: 1000;

        }
    }
    .unfolded {
        left: 0rem;
    }
}

@media (max-width: 500px) {

    .zoom-search, .wikiResult {
        max-width: 80vw;
        margin: auto;
    }
    .search-ul {
        max-width: 80vw;
        margin: auto;
    }


}

section {
    .wikiResult {
        background-color: $secondary-color;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 0.5rem;
        width: 400px;
        //material shadow
        @include card(2);
        max-height: 300px;
        overflow-y: scroll;
        ul {
            list-style: none;
            padding: 0;
            margin: 1rem;
            .placeTitle {
                font-size: 1rem;
            }
            .placeName, .placeDesc {
                font-size: 0.8rem;
                margin-bottom: 1rem;
                color: $grey-dark;
            }
        }

    }
    .search-bar {
        margin-top: 2.8rem;
        // zoom search design
        .zoom-search {
            background-color: $primary-color;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 0.5rem;
            width: 400px;

            //material shadow
            @include card(2);

            // vertically align inputs
            display:flex;

            // input border none, google style?
            #searchInput {
                position: relative;
                width: 100%;

                border:none;
                background: transparent;

                margin-left: 1rem;
                margin-right: 1rem;

                color:$white;

                border-bottom: 1px $white solid;
            }
            //to remove focus effects
            input:focus {
                outline:none;
            }
        }
        .search-ul {
            margin:0;
            padding:0;
            list-style: none;
            width:400px;
            .search-holder {
                position:relative;
                .search-result {
                    margin-top: 0.5rem;

                    background-color: $primary-color;
                    opacity: 0.8;
                    padding: 0.5rem 1rem 0.5rem 1rem;
                    border-radius: 0.5rem;
                    width: 100%;
                    min-height: 100px;

                    //material shadow
                    @include card(2);
                }
                .btns {
                    bottom:1rem;
                    right: 0;
                    position: absolute;
                }
            }
        }
    }
}
